<md-dialog aria-label="Create new question" ng-cloak style="min-width: 50%;">
    <form name="NewQuestionForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New question</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-font-library="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <!-- TODO: Question form -->
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <!-- TODO: Action buttons -->
        </md-dialog-actions>
    </form>
</md-dialog>
